In [1]:
import sqlite3
import pandas as pd

In [12]:
connection = sqlite3.connect("my_online_store.db")

In [13]:
cursor = connection.cursor()

In [15]:
query = """SELECT product_name, SUM(quantity) as total_quantity 
        FROM orders JOIN
        products 
        USING(product_id)
        GROUP BY product_name
        ORDER BY total_quantity DESC
        LIMIT 1
        """
df = pd.read_sql_query(query, connection)
df

     product_name  total_quantity
0  HFvpNNVhmAUgDZ              21

In [18]:
query = """SELECT sum(total_price)
        FROM orders
        """
df = pd.read_sql_query(query, connection)
df

   sum(total_price)
0         145545.39