### Пример программы Python

In [1]:
import time

def learn_python_function(on_lecture=True):
    print("Продолжать изучать анализ данных с помощью Python?")

    dark = {
        1: 16, 2: 17, 3: 18, 4: 19, 5: 19,
        6: 20, 7: 20, 8: 19, 9: 18,
        10: 17, 11: 16, 12: 16
    }

    light = {
        1: 8, 2: 7, 3: 6, 4: 5, 5: 4,
        6: 4, 7: 4, 8: 5, 9: 6, 10: 6,
        11: 7, 12: 8
    }

    time_now = time.localtime()

    if time_now.tm_hour >= dark[time_now.tm_mon] or time_now.tm_hour < light[time_now.tm_mon]:
        if on_lecture == False:
            print("Нет, пора немного отдохнуть!")
        else:
            print("Продолжай изучать на лекции!")
    else:
        print("Да, продолжай!")


learn_python_function(True)

Продолжать изучать анализ данных с помощью Python?
Продолжай изучать на лекции!

### Комментарии

In [2]:
# это первый комментарий
# spam = 1  # а это второй комментарий
# ... а сейчас третий!
text = "# Это не комментарий, потому что он внутри кавычек."

# CTRL + /

### Вывод данных

In [3]:
print("Всем привет!")
print("A", "B", "C")
print("A", "B", "C", sep="!")

Всем привет!
A B C
A!B!C

### Числа

In [4]:
2+2

4

In [5]:
50 - 5*6

20

In [6]:
(50 - 5*6) / 4

5.0

In [7]:
8 / 5  # деление всегда возвращает число с плавающей точкой

1.6

Целые числа (например, 2, 4, 20) имеют тип int, те, что с дробной частью, (e.g. 5.0, 1.6) имеют тип float.

Деление (/) в третьем питоне всегда возвращает float (во втором питоне деление целого числа на целое даёт целочисленное деление). 

**//** - оператор для целочисленного деления (без дробной части); 

**%** - расчет остатка от деления;

In [8]:
17 // 3

5

In [9]:
17 % 3

2

In [10]:
5 ** 2 #возведение в степень

25

Знак равенства (=) используется для присвоения значения переменной.

In [11]:
width = 20
height = 30
S = width * height
S

600

Присутствует полная поддержка операций с плавающей точкой; 

Операции над операндами смешанного типа конвертируют целочисленный операнд в число с плавающей запятой:

In [12]:
3 * 3.75 / 1.5

7.5

### Строки

Помимо чисел, Python может работать со строками, которые, в свою очередь, могут быть описаны различными способами. 

Строки могут быть заключены в одинарные ('...') или двойные кавычки ("..."), без разницы; 

\ может быть использован для экранирования кавычек:

In [13]:
print('spam eggs') 
print('doesn\'t') 
print("doesn't")
print('"Yes," he said.')

spam eggs
doesn't
doesn't
"Yes," he said.

Строковые литералы могут занимать несколько строк. Один из способов сделать это — тройные кавычки: """...""" или '''...'''. Концы строк автоматически включаются в строку, но возможно избежать этого добавлением \ в конце строки. Следующий пример:

In [14]:
print("""
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to 
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [23]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to \
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

Строки могут быть конкатенированы (соединены вместе) с помощью оператора +, и повторены с помощью *:

In [24]:
3 * 'un' + 'ium'

'unununium'

In [30]:
a = 'Raul'

In [31]:
print('Hello, {} {}!'.format(a, 'Knukhov'))
print('{0}, {2}, {1}'.format('a', 'b', 'c'))

Hello, Raul Knukhov!
a, c, b

### Условные операторы

In [33]:
a = 5
if a > 2:
    print("H")
else:
    print("L")

H

In [35]:
a = int(input("введите число:"))
if a < 0:
    print("Neg")
elif a == 0:
    print("Zero")
else:
    print("Pos")

введите число:-12
Neg

### Операторы цикла

Оператор цикла while  выполняет указанный набор инструкций до тех пор, пока условие цикла истинно.

In [36]:
a = 0
while a < 3:
    print(a)
    a += 1

0
1
2

Оператор <B>break</B> предназначен для досрочного прерывания работы цикла while.

In [37]:
a = 0
while a >= 0:
    if a == 3:
        break
    a += 1
    print(a)

1
2
3

Оператор <B>continue</B>  запускает цикл заново, при этом код, расположенный после данного оператора, не выполняется.

In [38]:
a = -1
while a < 10:
    a += 1
    if a >= 7:
        continue
    print(a)

0
1
2
3
4
5
6

Оператор <B>for</B>  выполняет указанный набор инструкций заданное количество раз, которое определяется количеством элементов в наборе.

In [39]:
for i in range(10):
    print("Hello")
    print(i)

Hello
0
Hello
1
Hello
2
Hello
3
Hello
4
Hello
5
Hello
6
Hello
7
Hello
8
Hello
9

### Модель данных

In [40]:
a = 4
b = 4

In [41]:
id(a)

140737407128456

In [42]:
id(b)

140737407128456

In [43]:
a == b

True

In [44]:
a is b

True

Рассмотрим другой пример.

In [48]:
c = [1,2,3]
d = [1,2,3]

In [49]:
id(c)

2749480238592

In [50]:
id(d)

2749480903488

In [51]:
c == d

True

In [52]:
c is d

False

Почему так происходит?

### Списки

In [127]:
a = []
b = list()
с = [1, 2, 3]

In [128]:
a = [1, 3, 5, 7]
b = a
b[3] = 15
a[1] = 10
print(a)
print(b)

[1, 10, 5, 15]
[1, 10, 5, 15]

In [129]:
#Добавление элементов в список
a = []
a.append(3)
a.append(3)
a.append("hello")
a

[3, 3, 'hello']

In [130]:
#Удаление элементов

a.remove(3)
print(a)

del a[0]
print(a)

[3, 'hello']
['hello']

In [131]:
#Доступ к элементам списка
a = [3, 5, 7, 10, 3, 2, 6, 0]
print(a[2])
print(a[-1])
print(a[1:4])

7
0
[5, 7, 10]

In [132]:
#Методы списков 
#Для удобного воспроизведения есть шорткат ctrl+shift+-
a = [1, 2]
a.append(3)
print(a)

a = [1, 2]
b = [3, 4]
a.append(b)
print(a)

a = [1, 2]
b = [3, 4]
a.extend(b)
print(a)

[1, 2, 3]
[1, 2, [3, 4]]
[1, 2, 3, 4]

In [133]:
a = [1, 2]
a.insert(0, 5)
print(a)

[5, 1, 2]

In [134]:
a = [1, 2, 3, 4, 5]
print(a.pop(2))
print(a.pop())
print(a)

a.clear()
print(a)

a = [1, 2, 3, 4, 5]
a.index(4)

print(a.count(2))

a.sort()
print(a)

a.reverse()
print(a)

3
5
[1, 2, 4]
[]
1
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

### Абстракция списков

In [135]:
n = int(input())
a = []
for i in range(n):
    a.append(i)
print(a)

12
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [136]:
[i for i in range(int(input()))]

12

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [137]:
[str(i) + 'k' for i in range(20) if i < 10]

['0k', '1k', '2k', '3k', '4k', '5k', '6k', '7k', '8k', '9k']

### Кортеж

Кортеж (tuple) – это неизменяемая структура данных, которая по своему подобию очень похожа на список.

In [138]:
b = (1, 2, 3)
print(b)

b[1] = 15

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [139]:
a = tuple()
b = ()
c = tuple([1, 2, 3])
d = ([1], 2, 3, 4, 5)
d[0].append(2)
d

([1, 2], 2, 3, 4, 5)

In [140]:
d = ([1], 2, 3, 4, 5)
id(d)

4362148496

In [141]:
d[0].append(2)
d

([1, 2], 2, 3, 4, 5)

In [142]:
id(d)

4362148496

Используется для хранения данных вместо списка (если они не предполагают изменений).

### Множества

Множество (set) - это набор уникальных элементов в случайном порядке (неупорядоченный список).

In [143]:
my_set = set()
my_set = {1, 2, 3, 4, 5}
my_set2 = (({5, 6, 7, 8}))
my_set3 = set("hello world")

In [144]:
my_set3

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

In [145]:
my_set & my_set2

{5}

In [146]:
my_set ^ my_set2

{1, 2, 3, 4, 6, 7, 8}

In [147]:
my_set | my_set2

{1, 2, 3, 4, 5, 6, 7, 8}

Используется, когда необходимо проверять принадлежит ли значение набору уникальных элементов и отсутствует необходимость поддерживать порядок в данном наборе.

### Словари

Словарь (dict) представляет собой структуру данных (которая ещё называется ассоциативный массив), предназначенную для хранения произвольных объектов с доступом по ключу. Данные в словаре хранятся в формате ключ – значение.

In [148]:
d1 = dict()
d2 = {}
d3 = dict(Ivan="manager", Mark="worker")

In [149]:
d3

{'Ivan': 'manager', 'Mark': 'worker'}

In [150]:
d1 = {"Russia":"Moscow", "USA":"Washington"}
d1["China"]="Beijing"
d1

{'Russia': 'Moscow', 'USA': 'Washington', 'China': 'Beijing'}

In [151]:
d1.items()

dict_items([('Russia', 'Moscow'), ('USA', 'Washington'), ('China', 'Beijing')])

In [152]:
d1.keys()

dict_keys(['Russia', 'USA', 'China'])

In [153]:
d1.values()

dict_values(['Moscow', 'Washington', 'Beijing'])

In [154]:
del d1["China"]

In [155]:
#Методы словарей
d2 = {"A1":"123", "A2":"456"}
d2.clear()
print(d2)

d2 = {"A1":"123", "A2":"456"}
d3 = d2.copy()

print(d3.get("A1"))

print(d3.items())

print(d3.keys())

print(d3.values())

print(d3.pop("A2"))
print(d3)

print(d3.popitem())
print(d3)

{}
123
dict_items([('A1', '123'), ('A2', '456')])
dict_keys(['A1', 'A2'])
dict_values(['123', '456'])
456
{'A1': '123'}
('A1', '123')
{}

### Немного про функции

Функция в python - объект, принимающий аргументы и возвращающий значение. Обычно функция определяется с помощью инструкции **def**.

In [156]:
def add(x, y):
    #     pass
    return x + y

In [157]:
add(5, 6)

11

In [158]:
def func(a, b, c=2):  # c - необязательный аргумент
    return a + b + c

In [159]:
func(3, 4)

9

Функция также может принимать переменное количество позиционных аргументов (аргументы, передаваемые в вызов в определённой последовательности (на определённых позициях), без указания их имён), тогда перед именем ставится *.

In [160]:
def func(*args):
    return args

In [161]:
a = func(1, 2, 3, "abc", '56')

In [162]:
type(a)

tuple

Функция может принимать и произвольное число именованных аргументов (аргументы, передаваемые в вызов при помощи имени), тогда перед именем ставится **.

In [163]:
def func(**kwargs):
    return kwargs

In [164]:
type(func(a=1, b=2, c=3))

dict